<div id="map"></div>
<script>
    var mapOptions = {
    center: [-6.2943376, 106.7821138],
    zoom: 17,
    };

    var map = L.map("map").setView(
    [mapOptions["center"][0], mapOptions["center"][1]],
    mapOptions["zoom"]
    );

    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);

    var puddleIcon = L.icon({
    iconUrl: '<%= asset_path("puddle.png") %>',
    iconSize: [64, 64],
    });

    <% @events.each do |event| %>
        L.marker([<%= event.latitude %>, <%= event.longitude %>], { icon: puddleIcon }).addTo(map).bindPopup(
        '<center><img src="<%= event.image_url %>" width="200" height="200"><br><b><%= event.title %></b></center>'
        );
    <% end %>

    map.on("click", function(e) {
        L.marker(e.latlng, { icon: puddleIcon })
            .addTo(map)
            .bindPopup(
                `<center>
                    <form action="/events" method="post">
                        <input type="text" name="event[title]" id="event_title"><br>
                        <input type="hidden" id="event_image_url" name="event[image_url]" type="text" value="https://dictionary.cambridge.org/images/thumb/puddle_noun_002_29508.jpg?version=6.0.27" />
                        <input type="hidden" id="event_latitude" name="event[latitude]" type="number" value=` + e.latlng.lat + ` />
                        <input type="hidden" id="event_longitude" name="event[longitude]" type="number" value=` + e.latlng.lng + ` />
                        <input type="submit" name="commit" value="Save" data-disable-with="Save">
                    </form>
                </center>`
            )
            .openPopup();
    });
</script>
